#container {
    background-color: var(--text-gray);

}

#container #listar {
    padding: 1%;

    width: 98%;
    height: auto;

    /* background-color: aquamarine; */

    display: flex;
    align-items: center;
    justify-content: center; 

    flex-wrap: wrap;
}

#container #listar #cardPerfis {
    padding: 1%;

    min-width: 23%;
    height: auto;

    /* background-color: bisque; */

    flex: 1;

}

#container #listar #cardPerfis #opcoes {
    padding: 1%;

    width: 98%;
    height: auto;

    background-color: var(--background-light-gray);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #listar #cardPerfis #opcoes a {
    font-size: 1.5em;

    margin: 3%;

    width: auto;

    text-decoration: none;

    color: var(--text-gray);

}

#container #listar #cardPerfis #perfil {
    padding: 2%;

    width: 96%;
    height: auto;

    background-color: #4d4d4d;

    box-shadow: 0px 4px 5px -5px var(--text-black);

} 

#container #listar #cardPerfis #perfil #dadosUsuario {
    padding: 1%;

    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: left;

    font-size: 14px;
    font-weight: 500;

    color: var(--background-white); 

}

#container #listar #cardPerfis #perfil #dadosUsuario #resultado {
    padding: 1%;

    width: 68%;
    height: auto;

    font-size: 14px;
    font-weight: 300;

}