@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;

}

html, body {
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: var(--background-black);

}

:root {
    --background-white: #ffffff;
    --background-black: #000000;
    --background-blue: #23437e;
    --background-light-blue: #509bf5;
    --background-green: #1ed760;
    --background-light-gray: #eaebeb;
    --background-light-pink: #ffccd1;
    --background-dark-pink: #c8b0b0;

    --button-blue: #1919af;
    --button-green: #29d629;

    --text-white: #ffffff;
    --text-pink: #f6b3ba;
    --text-black: #000000;
    --text-blue: #1919af;
    --text-gray: #5b5b5b;
    --text-light-gray: #b0b0b0;

}

/*SCROLL NONE*/
::-webkit-scrollbar {
    display: none;
}

/*CONTAINER*/

#container {
    width: 100%;
    height: 100%;

    background-color: var(--background-black);

}

/*HEADER*/

#container #header {
    padding: 0% 2% 0% 2%;

    width: 96%;
    height: auto;

    /*background-color: #f6b3ba;*/

    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*HEADER - MENU UL*/

#container #header nav {
    width: 50%;
    height: auto;

    /*background-color: #1919af;*/

}

#container #header nav ul {
    padding: 1%;
    width: 98%;
    height: auto;

    list-style: none;

    font-size: 18px;
    font-weight: 600;

    color: var(--text-white);

    text-align: center;

}

#container #header nav ul a {
    text-decoration: none;

    color: var(--text-white);

}

#container #header nav ul a li {
    display: inline;

    padding: 1%;

    width: 98%;
    height: auto;

}

/*HEADER - MENU LOGO*/

#container #header a {
    width: 20%;
    height: auto;

    text-align: center;

}

#container #header #img {
    width: 100%;
    height: auto;

    /*background-color: #23437e;*/

    text-align: center;

}

#container #header #img img {
    width: 30%;
    height: auto;

}

/*SECTION*/

#container #sectionOne {
    padding: 2%;

    width: 96%;
    height: auto;

    background-color: var(--text-pink);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

}

#container #sectionOne #blocoConteudo {
    padding: 1%;

    min-width: 40%;
    max-width: 40%;
    height: auto;

    /* background-color: violet; */

    flex: 1;

}

#container #sectionOne #containerDocs {
    padding: 1%;

    min-width: 40%;
    max-width: 40%;
    height: auto;

}

#container #sectionOne #blocoConteudoDegrade {
    padding: 1%;

    width: 100%;
    height: auto;

    /* background-color: violet; */

    flex: 1;

}

#container #sectionOne #blocoConteudoDegrade #opcoes {
    width: 100%;
    height: auto;

    /* background-color: turquoise; */

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;

}

#container #sectionOne #blocoConteudoDegrade #opcoes h1 {
    padding: 2%;

    width: 40%;
    height: auto;

    font-size: 20px;
    font-weight: 700;

    border-radius: 30px 30px 0px 0px;

    border: 1px solid var(--text-light-gray);

    background-color: var(--background-white);

    color: var(--text-light-gray);

}

#container #sectionOne #blocoConteudoDegrade #opcoes #cor {
    background-color: var(--text-light-gray);

    color: var(--text-white);

}

#container #sectionOne #blocoConteudoDegrade #compartilharObras {
    padding: 1%;

    width: 98%;
    height: 52vh;

    background-image: linear-gradient(#9e91ab, #e67f85);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;

}

#container #sectionOne #blocoConteudoDegrade #compartilharObras #anexos {
    padding: 5%;

    width: 90%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    text-align: center;

}

#container #sectionOne #blocoConteudoDegrade #compartilharObras #anexos svg {
    min-width: 25%;
    max-width: 25%;
    height: auto;

    flex: 1;

}

#container #sectionOne #blocoConteudoDegrade #compartilharObras #anexos #compartilhar {
    margin-top: 5%;

    width: 10vw;
    height: 10vh;

}

#container #sectionOne #blocoConteudoDegrade #compartilharObras #anexos img {
    padding: 2%;

    width: 36%;
    height: auto;
    
}

#container #sectionOne #blocoConteudoDegrade #compartilharObras #botao {
    padding: 2%;

    width: 32%;
    height: auto;

    background-color: var(--text-light-gray);

    border-radius: 50px;

    border: 1px solid var(--text-gray);

}

#container #sectionOne #blocoConteudoDegrade #compartilharObras #botao button {
    width: 100%;
    height: auto;

    font-size: 30px;
    font-weight: 700;

    color: var(--text-white);

    border: none;

    background-color: transparent;

}

/*-------------------*/

#container #sectionOne #blocoConteudoDetalhes {
    padding: 1%;

    width: 100%;
    height: auto;

    /* background-color: violet; */

    flex: 1;

}

#container #sectionOne #blocoConteudoDetalhes #opcoes {
    width: 100%;
    height: auto;

    /* background-color: turquoise; */

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;

}

#container #sectionOne #blocoConteudoDetalhes #opcoes #cor {
    padding: 2%;

    width: 40%;
    height: auto;

    font-size: 20px;
    font-weight: 700;

    border-radius: 30px 30px 0px 0px;

    border: 1px solid var(--text-light-gray);

    background-color: var(--text-light-gray);

    color: var(--text-white);

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras {
    padding: 1%;

    width: 98%;
    height: auto;
    /* height: 52vh; */

    background-image: linear-gradient(#9e91ab, #e67f85);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #perfil {
    padding: 2%;

    width: 26%;
    height: auto;

    /* background-color: turquoise; */

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #perfil svg {
    padding: 5%;

    width: 90%;
    height: auto;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #perfil p {
    width: 100%;
    height: auto;

    text-align: center;

    font-size: 45px;
    font-weight: 700;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #status {
    padding: 2%;

    width: 56%;
    height: auto;

    /* background-color: palegreen; */

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #status #statusPerfil {
    width: 100%;
    height: auto;

    /* background-color: darkgoldenrod; */

    display: flex;
    align-items: center;
    justify-content: space-between;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #status #statusPerfil #contudoStatus {
    padding: 2%;

    min-width: 21%;
    max-width: 21%;

    /* background-color: darkgreen; */

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #status #statusPerfil #contudoStatus p {
    padding: 2%;

    width: 96%;
    height: auto;

    text-align: center;

    font-size: 25px;
    font-weight: 600;

    color: var(--text-white);

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #status #statusPerfil #contudoStatus svg {
    width: 50%;
    height: auto;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #status #statusPerfil #contudoStatus #conjuntoStar {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #sectionOne #blocoConteudoDetalhes #compartilharObras #status #statusPerfil #contudoStatus #conjuntoStar svg {
    padding: 2%;

    width: 26%;
    height: auto;

}

/*-------------------*/

#container #sectionOne #blocoConteudo h1 {
    padding: 2% 0% 2% 0%;
    width: 100%;
    height: auto;

    font-size: 30px;
    font-weight: 700;

    color: var(--text-black);

}

#container #sectionOne #blocoConteudo #compartilharObras {
    padding: 0.5%;

    width: 99%;
    height: auto;

    /* background-color: turquoise; */

    border: 5px solid var(--background-light-pink);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#container #sectionOne #blocoConteudo #compartilharObras #img {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: wheat; */

}

#container #sectionOne #blocoConteudo #compartilharObras #img #controleSvg {
    padding: 1%;

    width: 58%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: var(--background-dark-pink);

    border: 1px solid var(--text-light-gray);

}

#container #sectionOne #blocoConteudo #compartilharObras #img #controleSvg p {
    font-size: 18px;
    font-weight: 500;

}

#container #sectionOne #blocoConteudo #compartilharObras #img #controleSvg svg {
    width: 60%;
    height: auto;

}

#container #sectionOne #blocoConteudo #compartilharObras #img #controleSvg #file {
    padding: 2%;

    width: 96%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: turquoise; */

}

#container #sectionOne #blocoConteudo #compartilharObras #img #controleSvg #file input {
    width: 60%;
    height: auto;

    font-size: 14px;
    font-weight: 600;

}

#container #sectionOne #blocoConteudo #compartilharObras #img #texto {
    padding-left: 0.5%;
    width: 99%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    /* background-color: turquoise; */

}

#container #sectionOne #blocoConteudo #compartilharObras #img #texto p {
    padding: 1%;
    margin: 2%;

    width: 94%;
    height: auto;

    font-size: 20px;
    font-weight: 700;

}

#container #sectionOne #blocoConteudo #compartilharObras #img #texto input {
    padding: 1%;
    margin: 2%;

    width: 94%;
    height: auto;

    font-size: 20px;
    font-weight: 700;

    border: 1px solid var(--text-light-gray);

}

#container #sectionOne #blocoConteudo #compartilharObras #descricao {
    margin-top: 1%;
    width: 99.7%;
    height: auto;

    background-color: var(--background-white);

    border: 1px solid var(--text-light-gray);

}

#container #sectionOne #blocoConteudo #compartilharObras #descricao textarea {
    padding: 2%;

    width: 96%;
    height: 100vh;

    border: none;
    background-color: transparent;

    font-size: 20px;
    font-weight: 700;

}

/*FOOTER*/

#container #footer {
    padding: 2%;

    width: 96%;
    height: 40%;

    background-color: var(--background-black);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #footer #footerLogo {
    width: 10%;
    height: auto;

}

#container #footer #footerLogo img {
    width: 100%;
    height: auto;

}

#container #footer #footerLogo #social {
    width: 100%;
    height: auto;

}

#container #footer #footerLogo #social img {
    padding: 1%;
    width: 20%;
    height: auto;

}

#container #footer #footerMenu {
    width: 60%;
    height: auto;

    /*background-color: #1ed760;*/

    display: flex;
    align-content: center;
    justify-content: center;

}

#container #footer #footerMenu nav {
    width: 20%;
    height: auto;

}

#container #footer #footerMenu nav ul {
    list-style: none;

    width: 100%;
    height: auto;

}

#container #footer #footerMenu nav ul a {
    text-decoration: none;

    width: 100%;
    height: auto;

}

#container #footer #footerMenu nav ul a p {
    padding: 5% 0% 5% 0%;

    width: 90%;
    height: auto;

    font-size: 14px;
    font-weight: 700;

    color: var(--text-gray);

    text-transform: uppercase;

}

#container #footer #footerMenu nav ul a li {
    padding: 2% 0% 2% 0%;

    width: 96%;
    height: auto;

    font-size: 14px;
    font-weight: 500;

    color: var(--text-white);

}

/*FOOTER - LICENCA*/

#container #footerLicenca {
    padding: 1%;

    width: 98%;
    height: auto;

    background-color: var(--background-black);

}

#container #footerLicenca nav {
    width: 100%;
    height: auto;

    display: flex;
    align-content: center;
    justify-content: center;

}

#container #footerLicenca nav ul {
    width: 60%;
    height: auto;

    list-style: none;

    /*background-color: #1ed760;*/

}

#container #footerLicenca nav ul li {
    display: inline;

    padding: 1%;

    width: 98%;
    height: auto;

    font-size: 12px;
    font-weight: 600;

    color: var(--text-white);

}

#container #footerLicenca nav #copyright {
    width: 10%;

    /*background-color: #23437e;*/

}

#container #footerLicenca nav #copyright p {
    font-size: 14px;
    font-weight: 600;

    color: var(--text-gray);

    text-align: center;

}