@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;

}

html, body {
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

}

:root {
    --background-black: #000000;
    --background-blue: #23437e;
    --background-light-blue: #509bf5;
    --background-green: #1ed760;

    --button-blue: #1919af;
    --button-blue: #29d629;

    --text-white: #ffffff;
    --text-pink: #f6b3ba;
    --text-black: #000000;
    --text-blue: #1919af;

}

/*CONTAINER*/

#container {
    width: 100%;
    height: 100%;

    background-color: var(--background-black);

}

/*HEADER*/

#container #header {
    padding: 0% 2% 0% 2%;

    width: 96%;
    height: auto;

    /*background-color: #f6b3ba;*/

    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*HEADER - MENU UL*/

#container #header nav {
    width: 50%;
    height: auto;

    /*background-color: #1919af;*/

}

#container #header nav ul {
    padding: 1%;
    width: 98%;
    height: auto;

    list-style: none;

    font-size: 18px;
    font-weight: 600;

    color: var(--text-white);

    text-align: center;

}

#container #header nav ul a {
    text-decoration: none;

    color: var(--text-white);

}

#container #header nav ul a li {
    display: inline;

    padding: 1%;

    width: 98%;
    height: auto;

}

/*HEADER - MENU LOGO*/

#container #header #img {
    width: 20%;
    height: auto;

    /*background-color: #23437e;*/

    text-align: center;

}

#container #header #img img {
    width: 30%;
    height: auto;

}