@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;

}

html, body {
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: var(--background-black);

}

:root {
    --background-white: #ffffff;
    --background-black: #000000;
    --background-blue: #23437e;
    --background-light-blue: #509bf5;
    --background-green: #1ed760;
    --background-light-gray: #eaebeb;

    --button-blue: #1919af;
    --button-green: #29d629;

    --text-white: #ffffff;
    --text-pink: #f6b3ba;
    --text-black: #000000;
    --text-blue: #1919af;
    --text-gray: #5b5b5b;
    --text-gray2: #8a8a8a;
    --text-gray3: #bfbfbf;
    --text-light-gray: #b0b0b0;
    --text-yellow: #ffee00;
    --text-pink2: #ff0090;

}

/*SCROLL NONE*/
::-webkit-scrollbar {
    display: none;
}

/*CONTAINER*/

#container {
    width: 100%;
    height: 100%;

    background-color: var(--background-black);

}

/*HEADER*/

#container #header {
    padding: 0% 2% 0% 2%;

    width: 96%;
    height: auto;

    /*background-color: #f6b3ba;*/

    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*HEADER - MENU UL*/

#container #header nav {
    width: 50%;
    height: auto;

    /*background-color: #1919af;*/

}

#container #header nav ul {
    padding: 1%;
    width: 98%;
    height: auto;

    list-style: none;

    font-size: 18px;
    font-weight: 600;

    color: var(--text-white);

    text-align: center;

}

#container #header nav ul a {
    text-decoration: none;

    color: var(--text-white);

}

#container #header nav ul a li {
    display: inline;

    padding: 1%;

    width: 98%;
    height: auto;

}

/*HEADER - MENU LOGO*/

#container #header a {
    width: 20%;
    height: auto;

    text-align: center;

}

#container #header #img {
    width: 100%;
    height: auto;

    /*background-color: #23437e;*/

    text-align: center;

}

#container #header #img img {
    width: 30%;
    height: auto;

}

/*SECTION*/

#container #sectionOne {
    padding: 2%;

    width: 96%;
    height: auto;

    background-color: var(--background-blue);

    background-image: url(../img/helloteca-background.png);
    background-size: 80%;
    background-position: center top;
    background-repeat: no-repeat;

    /*display: flex;
    align-items: center;
    justify-content: center;*/

}

/*SECTION - TEXTO*/

#container #sectionOne #texto {
    width: 100%;
    height: auto;

    /* background-color: brown; */

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#container #sectionOne #texto #img {
    width: 80%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /*background-color: burlywood;*/

}

#container #sectionOne #texto #img img {
    width: 40%;
    height: auto;

}

/* #container #sectionOne #texto #img #button {
    width: 25%;
    height: auto;

    margin-top: -10%;

    background-color: #f6b3ba;

}

#container #sectionOne #texto #img #button button {
    padding: 5%;

    width: 90%;
    height: auto;

    border-radius: 25px;
    border: none;

    font-size: 16px;
    font-weight: 600;

    color: var(--text-white);

    background-color: var(--background-green);

    text-transform: uppercase;

} */

#container #sectionOne #texto #button {
    position: absolute;

    top: 0;

    margin-top: 6.3%;
    margin-right: 3%;

    width: 100%;
    height: auto;

    /* background-color: turquoise; */

    text-align: right;

}

#container #sectionOne #texto #button button {
    padding: 0.95%;
    margin-right: 5%;

    width: 19.3%;
    height: auto;

    border-radius: 25px;
    border: none;

    font-size: 16px;
    font-weight: 600;

    color: var(--text-white);

    background-color: var(--background-green);

    text-transform: uppercase;

}

#container #sectionOne #texto #imgReticulo {
    padding: 0% 10% 0% 7%;

    width: 80%;
    height: auto;

    /* background-color: blueviolet; */

    text-align: left;

}

#container #sectionOne #texto #imgReticulo img {
    width: 50%;
    height: auto;

}

#container #sectionOne #texto #imgReticulo #dimesao {
    width: 40%;
    height: auto;

}

#container #sectionOne #texto #imgReticulo p {
    padding: 2%;

    width: 40%;
    height: auto;

    font-size: 20px;
    font-weight: 600;

    color: var(--text-pink);

    text-align: center;

}

/*SECTION - SEARCH*/

#container #sectionOne #search {
    margin-top: 2.5%;
    padding: 1%;

    width: 98%;
    height: auto;

    display: flex;
    align-content: center;
    justify-content: center;

    /*background-color: #f6b3ba;*/

}

#container #sectionOne #search #botaoSearch {
    width: 45%;
    height: auto;

    display: flex;
    align-content: center;
    justify-content: center;

    border-radius: 50px;
    border: none;

    background-color: var(--background-white);

}

#container #sectionOne #search #botaoSearch input {
    padding: 2%;

    width: 76%;
    height: auto;

    font-size: 20px;
    font-weight: 600;

    border: none;

    color: var(--text-black);

}

#container #sectionOne #search #botaoSearch svg {
    padding: 2%;

    width: 6%;
    height: auto;

}

/*SECTION - MOUSE*/

#container #sectionOne #mouse {
    padding: 1%;

    width: 98%;
    height: auto;

    display: flex;
    align-content: center;
    justify-content: center;    

}

#container #sectionOne #mouse svg {
    width: 5%;
    height: auto;

}

/*SECTION*/

#container #sectionTwo {
    padding: 2%;

    width: 96%;
    height: auto;

    background-color: var(--background-light-blue);

    /* display: flex;
    align-items: center;
    justify-content: center; */

}

#container #sectionTwo #menuProdutos {
    width: 100%;
    height: auto;

    text-align: center;

    /*background-color: #29d629;*/

}

#container #sectionTwo #menuProdutos h1 {
    padding: 2%;

    width: 96%;
    height: auto;

    font-size: 50px;
    font-weight: 600;

    color: var(--text-white);

    text-transform: uppercase;

}

/*SECTION - PRODUTOS PAGE*/

#container #sectionTwo #produtosPage {
    padding: 1%;

    width: 98%;
    height: auto;

    /*background-color: #f6b3ba;*/

    display: flex;
    align-content: center;
    justify-content: center;

}

#container #sectionTwo #produtosPage #produto {
    padding: 2%;

    width: 21%;
    height: auto;

    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;

    /*background-color: #23437e;*/

}

#container #sectionTwo #produtosPage #produto img {
    padding: 10%;
    width: 80%;
    height: auto;

}

#container #sectionTwo #produtosPage #produto #buttonProduto {
    width: 100%;
    height: auto;

    margin-top: 5%;

    text-align: center;

}

#container #sectionTwo #produtosPage #produto #buttonProduto button {
    padding: 5%;

    width: 60%;
    height: auto;

    border-radius: 30px;
    border: none;

    font-size: 30px;
    font-weight: 600;

    color: var(--text-white);

    background-color: var(--background-green);

    text-align: center;

}

#container #footer {
    padding: 2%;

    width: 96%;
    height: 40%;

    background-color: var(--background-black);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #footer #footerLogo {
    width: 10%;
    height: auto;

}

#container #footer #footerLogo img {
    width: 100%;
    height: auto;

}

#container #footer #footerLogo #social {
    width: 100%;
    height: auto;

}

#container #footer #footerLogo #social img {
    padding: 1%;
    width: 20%;
    height: auto;

}

#container #footer #footerMenu {
    width: 60%;
    height: auto;

    /*background-color: #1ed760;*/

    display: flex;
    align-content: center;
    justify-content: center;

}

#container #footer #footerMenu nav {
    width: 20%;
    height: auto;

}

#container #footer #footerMenu nav ul {
    list-style: none;

    width: 100%;
    height: auto;

}

#container #footer #footerMenu nav ul a {
    text-decoration: none;

    width: 100%;
    height: auto;

}

#container #footer #footerMenu nav ul a p {
    padding: 5% 0% 5% 0%;

    width: 90%;
    height: auto;

    font-size: 14px;
    font-weight: 700;

    color: var(--text-gray);

    text-transform: uppercase;

}

#container #footer #footerMenu nav ul a li {
    padding: 2% 0% 2% 0%;

    width: 96%;
    height: auto;

    font-size: 14px;
    font-weight: 500;

    color: var(--text-white);

}

/*FOOTER - LICENCA*/

#container #footerLicenca {
    padding: 1%;

    width: 98%;
    height: auto;

    background-color: var(--background-black);

}

#container #footerLicenca nav {
    width: 100%;
    height: auto;

    display: flex;
    align-content: center;
    justify-content: center;

}

#container #footerLicenca nav ul {
    width: 60%;
    height: auto;

    list-style: none;

    /*background-color: #1ed760;*/

}

#container #footerLicenca nav ul li {
    display: inline;

    padding: 1%;

    width: 98%;
    height: auto;

    font-size: 12px;
    font-weight: 600;

    color: var(--text-white);

}

#container #footerLicenca nav #copyright {
    width: 10%;

    /*background-color: #23437e;*/

}

#container #footerLicenca nav #copyright p {
    font-size: 14px;
    font-weight: 600;

    color: var(--text-gray);

    text-align: center;

}