#container {
    background-color: var(--background-black);

}

#container #gerenciar {
    padding: 5%;

    width: 90%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: var(--background-light-gray);

}

#container #gerenciar #dados {
    width: 100%;
    height: auto;

    box-shadow: 0px 3px 7px -5px var(--text-gray);

}

#container #gerenciar #dados #tabela {
    width: 100%;
    height: auto;
    
    /* background-color: thistle; */

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #gerenciar #dados #tabela #colunas {
    padding: 1%;

    width: 23%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: left;

    /* background-color: turquoise; */

}

#container #gerenciar #dados #tabela #colunas p {
    width: 100%;
    height: auto;

    font-size: 14px;
    font-weight: 600;

    /* background-color: wheat; */

}

#container #gerenciar #dados #linhas {
    width: 100%;
    height: auto;
    
    /* background-color: thistle; */

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #gerenciar #dados #linhas #colunas {
    padding: 1%;

    width: 23%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: left;

    /* background-color: turquoise; */

}

#container #gerenciar #dados #linhas #colunas p {
    width: 100%;
    height: auto;

    font-size: 14px;
    font-weight: 500;

    color: var(--text-gray2);

    /* background-color: wheat; */

}

#container #gerenciar #dados #linhas #colunas {
    width: 100%;
    height: auto;

    /* background-color: yellow; */

}

#container #gerenciar #dados #linhas #colunas a {
    padding: 1%;

    width: 5%;
    height: auto;

    text-decoration: none;

}

#container #gerenciar #dados #linhas #colunas a svg {
    width: 100%;
    height: auto;

    color: var(--text-black);

}

#container #gerenciar #dados #linhas #colunas #gerenciar {
    width: 30%;
    height: auto;

    /* background-color: yellowgreen; */

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #gerenciar #dados #linhas #colunas #gerenciar a {
    width: 100%;
    height: auto;

    color: var(--text-gray);

    font-weight: 600;

    text-decoration: none;

    /* background-color: wheat; */

}

#container #gerenciar #dados #linhas #colunas #gerenciar a p {
    color: var(--text-gray);

    font-weight: 600;

}

#container #gerenciar #ger {
    padding: 2%;
    margin: 2%;

    width: 92%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #gerenciar #ger a {
    text-decoration: none;

    padding: 2%;

    width: 16%;
    height: auto;

    background-color: var(--background-light-gray);

    box-shadow: 0px 3px 7px -5px var(--text-gray);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container #gerenciar #ger a p {
    width: auto;
    height: auto;

    color: var(--text-black);

    font-size: 20px;
    font-weight: 600;

}